* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    color: #1C1C1C;
    font-weight: 300;
    font-size: 14PX;
}

header{
    background-color: #f5f5f5;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17%;
}

H5{
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 0 10px;
    background: #ffffff;
}

#header_top_left{
    width: 36%;
    display: flex;
    align-items: center;
}

#header_top_left p{
    margin: 15px;
}

#mail-icon{
    height: 14px;
    width: 14px;
}


#header_top_right{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#facebook-icon{
    width: 8px;
    height: 14px;
}

#twitter-icon{
    width: 13px;
    height: 14px;
}

#linkedin-icon{
    width: 12px;
    height: 14px;
}

#pinterest-icon{
    width: 10px;
    height: 14px;
}

#arrow-english{
    width: 14px;
    height: 14px;
}

#user-icon{
    width: 10px;
    height: 14px;
}


.main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 80px 431px 50px 270px 80px 170px 1048px;
}

.main div{
    
}

#logo{
    grid-column: 2;
    display: flex;
    align-items: center;
}

#logo img{
    height: 50px;
    width: 119px;
}

#nav{
    grid-column: 3/6;
    display: flex;
    align-items: center;
}

#nav-menu{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-around;
}

#nav-menu a{
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

#nav-shop{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
}

#nav-shop a{
    margin-right: 15px;
}

#nav-shop p{
    margin-left: 15px;
}

#heart-icon{
    height: 18px;
    width: 18px;
}

#shopping-bag-icon{
    height: 20px;
    width: 18px;
}

#nav-shop a i svg{
    padding-top: 3px;
}

#nav-shop a span{
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
}

#nav-shop-money{
    color: #252525;
    font-weight: 700;

}

#menu{
    grid-column: 2;
    grid-row: 2/4;
}

#menu>div>h3{
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

#menu-dropdown-select{
    display: flex;
    align-items: center;
    height: 47px;
    background-color: #7fad39;
    position: relative;
}

#menu-dropdown-select>input{
    position: absolute;
    left: 10%;
    width: 100%;
    height: 100%;
    opacity: 100;
}

#menu-dropdown-select:checked{
    
}

#menu-dropdown{
    border: #6f6f6f;
}

#menu-dropdown>ul>li{
    font-size: 16px;
    color: black;
    line-height: 39px;
    display: block;
}

#bars-icon{
    width: 13px;
    height: 16px;
    margin-right: 10px;
    margin-left: 40px;
}

#arrow-icon{
    height: 18px;
    width: 27px;
    margin-left: 20px;
}

#busca{
    grid-row: 2;
    grid-column: 3/6;
}

#banner{
    grid-row: 3;
    grid-column: 3/6;
    background-image: url(img/banner.jpg);
    display: flex;
    align-items: center;
}

#banner-text{
    border: none;
    height: 250px;
    width: 355px;
    padding-left: 75px;
}

#banner>div>span{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #7fad39;
}

#banner>div>h2{
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 900;
    margin: 10px 0;
}

#banner>div>p{
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 17px 0;
}

#banner>div>button{
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    border: none;
}

#prod01{
    grid-row: 5;
    grid-column: 2;
    background-image: url(img/cat-1.jpg);
    display: flex;
    align-items: end;
    justify-content: center;
}

#prod01>h5{
    width: 200px;
    text-align: center;
}

#prod02{
    grid-row: 5;
    grid-column: 3;
    background-image: url(img/cat-2.jpg);
    display: flex;
    align-items: end;
    justify-content: center;
}

#prod02>h5{
    width: 200px;
    text-align: center;
}

#prod03{
    grid-row: 5;
    grid-column: 4;
    background-image: url(img/cat-3.jpg);
    display: flex;
    align-items: end;
    justify-content: center;
}

#prod03>h5{
    width: 200px;
    text-align: center;
}

#prod04{
    grid-row: 5;
    grid-column: 5;
    background-image: url(img/cat-4.jpg);
    display: flex;
    align-items: end;
    justify-content: center;
}

#prod04>h5{
    width: 200px;
    text-align: center;
}

#product-top{
    grid-row: 7;
    grid-column: 2/6;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#product-top>h2{
    font-weight: 700;
    font-size: 36px;
}

#green-line{
    width: 80px;
    height: 4px;
    background-color: #7fad39;
    margin-bottom: 45px;
}

#product-selection{
    display: flex;
    width: 35%;
    justify-content: space-between
}

#product-selection>a{
    font-size: 18px;
    text-decoration: none;
}

#product-selection-select{
    font-weight: 500;
}

#products-value{
    grid-row: 8;
    grid-column: 1/7;
    column-gap: 25px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 270px 80px 270px 80px 40px 263px;
}

#product01{
    grid-row: 1;
    grid-column: 2;
    background-image: url(img/feature-1.jpg);
}

#price-prod01{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-prod01 a{
    text-decoration: none;
    font-size: 16px;
}

#price-prod01 h3{
    color: #252525;
    font-weight: 700;
    font-size: 18px;
}

#product02{
    grid-row: 1;
    grid-column: 3;
    background-image: url(img/feature-2.jpg);
}

#price-prod02{
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-prod02 a{
    text-decoration: none;
    font-size: 16px;
}

#price-prod02 h3{
    color: #252525;
    font-weight: 700;
    font-size: 18px;
}

#product03{
    grid-row: 1;
    grid-column: 4;
    background-image: url(img/feature-3.jpg);
}

#price-prod03{
    grid-row: 2;
    grid-column: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-prod03 a{
    text-decoration: none;
    font-size: 16px;
}

#price-prod03 h3{
    color: #252525;
    font-weight: 700;
    font-size: 18px;
}

#product04{
    grid-row: 1;
    grid-column: 5;
    background-image: url(img/feature-4.jpg);
}

#price-prod04{
    grid-row: 2;
    grid-column: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-prod04 a{
    text-decoration: none;
    font-size: 16px;
}

#price-prod04 h3{
    color: #252525;
    font-weight: 700;
    font-size: 18px;
}

#product05{
    grid-row: 3;
    grid-column: 2;
    background-image: url(img/feature-5.jpg);
}

#price-prod05{
    grid-row: 4;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-prod05 a{
    text-decoration: none;
    font-size: 16px;
}

#price-prod05 h3{
    color: #252525;
    font-weight: 700;
    font-size: 18px;
}

#product06{
    grid-row: 3;
    grid-column: 3;
    background-image: url(img/feature-6.jpg);
}

#price-prod06{
    grid-row: 4;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-prod06 a{
    text-decoration: none;
    font-size: 16px;
}

#price-prod06 h3{
    color: #252525;
    font-weight: 700;
    font-size: 18px;
}

#product07{
    grid-row: 3;
    grid-column: 4;
    background-image: url(img/feature-7.jpg);
}

#price-prod07{
    grid-row: 4;
    grid-column: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-prod07 a{
    text-decoration: none;
    font-size: 16px;
}

#price-prod07 h3{
    color: #252525;
    font-weight: 700;
    font-size: 18px;
}

#product08{
    grid-row: 3;
    grid-column: 5;
    background-image: url(img/feature-8.jpg);
}

#price-prod08{
    grid-row: 4;
    grid-column: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-prod08 a{
    text-decoration: none;
    font-size: 16px;
}

#price-prod08 h3{
    color: #252525;
    font-weight: 700;
    font-size: 18px;
}

#product-banner01{
    grid-row: 6;
    grid-column: 2/4;
    background-image: url(img/banner-1.jpg);
}

#product-banner02{
    grid-row: 6;
    grid-column: 4/6;
    background-image: url(img/banner-2.jpg);
}